use actix_web::{App, HttpServer};

mod api;

#[actix_web::main]
async fn main() -> std::io::Result<()> {
    HttpServer::new(|| {
        App::new()
        {% for entity in entities %}
            .service(api::{{ entity.name }}::all)
            .service(api::{{ entity.name }}::get)
            .service(api::{{ entity.name }}::create)
            .service(api::{{ entity.name }}::delete)
        {% endfor %}
    })
    .bind("127.0.0.1:8080")?
    .run()
    .await
}
