{% for entity in entities %}
diesel::table! {
    {{ entity.name|pluralize }} (id) {
        {% for field in entity.fields %}
        {{ field.name }} -> {{ field.field_type|diesel_type }},
        {% endfor %}
    }
}
{% endfor %}